TRACKS_PARQUET_PATH=/data/spotify_processed.parquet
SPOTIFY_DATE_FROM=2023-10-18
SPOTIFY_DATE_TO=2025-06-11

GENIUS_API_KEY=
GUARDIAN_API_KEY=

GDELT_REQUEST_DELAY=6
GUARDIAN_REQUEST_DELAY=0.5

POSTGRES_USER=spotify
POSTGRES_PASSWORD=
POSTGRES_DB=spotify
POSTGRES_APP_USER=spotify_app
POSTGRES_APP_PASSWORD=
